@import '~styles/colors';
@import '~styles/padding';

.wizard {

    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
    }

    .passphrase {
        flex: 1;
    }

    .input {
        // border-right: none;
    }

    .inputConfirmation {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button {
        height: 40px;
        border-left: none;
    }

    .indicators {
        display: flex;
        flex-direction: row;
    }

    .indicator {
        margin-top: 10px;
        flex: 1;
        border: 1px solid $border;
        // background: $border;
        height: 4px;


    }

    .indicatorGood {
        background: $primary;
        border-color: $primary;
    }

    .indicatorWrong {
        background: $danger;
        border-color: $danger;
    }

    .indicator + .indicator {
        margin-left: 4px;
    }

    .center {
        text-align: center;
    }

    .help {
        font-size: 0.8em!important;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
