@import '~styles/colors';
@import '~styles/padding';

.wizard {

    .input {

    }

    .help {
      height: 25px;
      margin-bottom: 20px;
      font-size: 0.8em!important;
      font-weight: 400;
      color: $danger;
    }

    .helpCheck {
      text-align: center;
    }

    .iconCheck {
      color: $primary;
    }

    .signout {
      font-size: 0.9em;
      // position: absolute;
      // top: 20px;
      // right: 20px;
    }
}
